*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
    cursor: none;
}
#cursor{
    position: fixed;
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    border: 2px solid rgba(255, 255, 255, 0.749);
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    background-color: #0b0b0b;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999999;
    overflow-y: hidden;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw ;
}
#line1Part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1Part1 h5,#line1Part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1Part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line>h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes lineH2 {
    0%{
        font-family: "plain light";
        -webkit-text-stroke:1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke:1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    background-color: #151515;
    position: relative;
}
#page1{
    min-height: 85vh;
    background-color:#151515 ;
    width: 100%;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 4.2vw;
}
#navPart2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7vw;
}
#navPart2 h4{
    font-size: .9vw;
    font-weight: 500;
}
.hero {
    width: 100%;
   padding-left: 27%;
    height: fit-content;
    /* background-color: red; */
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
#hero1 h1::before{
    content: "01";
    font-size: 3vw;
    font-family: 'silk serif';
    position: absolute;
    font-weight: 100;
    top: -17%;
    left: -19.8%;
}

.hero:nth-child(2) {
    margin-top: 13vh;
}

.hero h1 {
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;

}
.hero h2, .hero h3 {
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-decoration: none;
    font-weight: 500;
}
.heroWeb,.heroGraphics{
    text-decoration: underline;
    text-underline-offset: 8px;
}
.heroWeb{
    margin-right: 9px;
}
#page2{
    min-height: 128vh;
    width: 100%;
    position: relative;
    padding-top: 22vh;
    overflow-x: hidden;
}
.videoContainer{
    height: 66vh;
    width: 73vw;
    position: relative;
    left: 27%;
    background-image: url("./images/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}
/* .videoContainer img{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
} */
.videoContainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
}
#video-cursor{
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 2vw;
    margin-bottom: 40vh;
}
#img-div-container{
    padding: 1vw;
    position: relative; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.imgDiv{
    flex-shrink: 0;
    height: 30vw;
    width: 22vw;
    position:relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: .8vw 0.8vw 0 0.8vw;
}
#imgDiv3{
    width: 34.4vw;
    height: 40vw;
    margin: 0vw 0.8vw 0.8vw 0.8vw;
}
#imgDivHead3{
    margin-top: 10vh;
    padding-bottom: 5vh;
}
#imgDiv4{
    width: 32vw;
    height: 40vw;
}
.imgDivElemDets{
    padding: 3vh 0;
    margin: 0 0.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.imgDivElemDets h5:nth-of-type(1) {
    width: 70%;
}
.imgDivElemDets h5{
    font-size: .9vw;
    line-height: 1.2vw;
    font-weight: 500;
}
.imgDivHead{
    padding: 2vh;
}
.imgDivHead h2{
    font-size: 2vw;
    text-transform: uppercase;
}

.imgDivElemDets3{
    padding: 2vh 0 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin: 0.8vw 0.8vw 0.8vw 0.8vw;
}
.imgDivElemDets3 h5:nth-of-type(1) {
    width: 70%;
}
.imgDivElemDets3 h5{
    font-size: .9vw;
    line-height: 1.2vw;
    font-weight: 500;
}
.imgDivElemDets2{
    padding: 2vh 0 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin: 0.8vw 0.8vw 0.8vw 0.8vw;
}
.imgDivElemDets2 h5:nth-of-type(1) {
    width: 70%;
}
.imgDivElemDets2 h5{
    font-size: .9vw;
    line-height: 1.2vw;
    font-weight: 500;
}

.imgDevElem2 .imgDiv{
    height: 40vw;
    width: 34vw;
}
.imgDevElem4 .imgDiv{
    margin-left: 0.8vw;
}
.page3Circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56vh;
    position: relative;
    margin-left: 10vw;
}
.page3Circle1 svg{
    height: 30%;
}
.circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all ease 0.3s;
    border-radius: 50%;
}
.circle-in p{
    font-size:1vw;
    width: 60%;
    font-weight: 500;
    scale: 0;
    color: #000;
    transition: all ease 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
}
.page3Circle1:hover .circle-in{
    scale: 1;
}
.page3Circle1:hover p{
    scale: 1;
    opacity: 1;
}
.page3Circle2{
    height: 23vw;
    position: relative;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3Circle2 svg{
    height: 30%;
    rotate: -40deg;
}
.page3Circle2:hover .circle-in{
    scale: 1;
}
.page3Circle2:hover p{
    scale: 1;
    opacity: 1;
}
.imgDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3 .underline{
    margin-left: 27.2%;
    width: 69%;
}
#page3 h1{
    text-transform: uppercase;
    position: relative;
    font-size: 7vw;
    margin-left: 27%;
}
#page3 h1::before{
    content: "02";
    font-size: 3vw;
    font-family: 'silk serif';
    position: absolute;
    font-weight: 100;
    top: 7%;
    left: -10.8%;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 7vw;
    padding-bottom: 1vw;
}
.page4-content{
    width: 72vw;
    margin-left: 27vw;
}
.page4-content h1{
    text-transform: uppercase;
    position: relative;
    font-size: 7vw;
}
.aboutPara span{
    opacity: 0;
    display: inline-block;
}
.page4-content h1::before{
    content: "03";
    font-size: 3vw;
    font-family: 'silk serif';
    position: absolute;
    font-weight: 100;
    top: 7%;
    left: -11.8%;
}
.underline{
    height: 1px;
    width: 96%;
    background-color:#fff ;
    margin-top: 4vw;
    margin-bottom: 5.7vw;
}
.page4-content>p{
    font-size: 2.1vw;
    width: 46%;
    line-height: 2.4vw;
    margin-bottom: 3vw;
}
#page4Flex{
    display: flex;
}
#page4Flex img{
    width: 47%;
}
#page4Flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1.3vw;
}
#blueCard{
    background-color: #3F7DF4;
    padding: 2.5vw 2vw 3.4vw 2vw;
    width: 33.3vw;
    position: relative;
    margin-top: -37.5vh;
    margin-left: 24vw;
}
.blueElem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 2px solid #ffffff70;
}
.blueElem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.blueElem p{
    width: 40%;
    font-size: 0.7vw;
}
#page5{
    min-height: 90vh;
    margin: 5vh 0;
    width: 100%;
}
.elem{
    white-space: nowrap;
    overflow-x: hidden;
    height: fit-content;
    overflow-y: hidden;
}
.elem h1{
    font-size: 7vw;
    line-height: 7vw;
    margin-right: 16px;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    animation-name: movingText;
    animation-duration: 25s;
    margin-bottom: 0vw;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes movingText {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    height: fit-content;
    overflow-y: hidden;
}
.elem2 h1{
    font-size: 7vw;
    line-height: 7vw;
    margin-right: 16px;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0vw;
    animation-name: movingText;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span,.elem2 span{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-style: italic;
    color: transparent;
}
#footer{
    height: 92vh;
    position: relative;
    width: 100%;
    padding-left: 27vw;
}
.footerH1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    color: white;
}
.txtTransformation span{
    font-family: 'silk serif';
    -webkit-text-stroke: 2px #fff;
    font-weight: 500;
    color: transparent;
    font-style: italic;
}
.footerH1::before{
    content: "04";
    font-size: 3vw;
    position: absolute;
    top: 7%;
    left: -11.8%;
    font-family: 'silk serif';
    font-weight: 100;
}
.underLine2{
    margin: 4vw 0;
    height: 1px;
    width: 95%;
    background-color: #fff;
}
.underLine3{
    margin-top: 8vw;
    margin-bottom: 2vw;
    height: 1px;
    width: 95%;
    background-color: #fff;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    padding-right: 13vw;
    padding-top: 1vw;
    margin-bottom: 6vw;
    justify-content: space-between;
}
#footer-div h6{
    font-size: 0.8vw;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.5vw;
}
.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-weight: 500;
    letter-spacing:-1px;
}
#footer p{
    margin-top: 2.8vw;
}
._canvas_container{
    z-index: 9999 !important;
    pointer-events: none;
}
#flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#hero3{
    z-index: 9;
    position: relative;
}
