@media (max-width:1280px){
    .aboutHeading{
        margin-top: 0px;
    }
    .educationHeading{
        margin-top: 0;
    }
}
@media (max-width:1114px){
    .aboutPara{
        font-size: 2vh;
        margin-top: 2px;
    }
    .eduHeading{
        margin-top: 0;
    }
    .certificationHeading{
        margin-top: 0;
    }
    .adoutList{
        padding: 3px 0;
    }
    .aboutSkills{
        gap: 10px;
        margin-top: 12px;
    }
    .aboutImgs{
        width: 8%;
    }
}
@media (max-width:884px){
    .about{
        height: 80vh;
    }
    .aboutPara{
        font-size: 1.4vh;
        margin-top: 1.2vh;
    }
    
    .eduContainer{
        padding: 1.5vh 1.5vh;
    }
    .certificateContainer{
        padding: 1.5vh 1.5vh;
    }
    .aboutLi{
        font-size: 1.4vh;
    }
    .aboutHeading{
        font-size: 3vh;
    }
    .aboutSecDiv{
        height: 23vh;
        margin:2vh 0 ;
    }
    .aboutImgs{
        width: 15%;
        margin-top: 1vh;
    }
    .abSkillsContainer{
        height: 23vh;
        
    }
    .aboutSkills{
        overflow-x: auto;
    }
    .aboutContainer{
        padding: 0;
    }
    .about{
        padding-top: 10vh;
    }
}
@media (max-width:834px) {
    .aboutParaContainer{
        height: 38%;
    }
}
@media (max-width:800px) {
    .aboutParaContainer{
        height: 40%;
    }
    .aboutSecDiv{
        height: 20vh;
    }
    .aboutImgs{
        width: 18%;
    
    }
    .abSkillsContainer{
        height: 20vh;
    }
    .about{
        height: 75vh;
    }
    
}
@media (max-width:769px) {
    .aboutParaContainer{
        height: 35%;
    }

    .abSkillsContainer{
        height: 25vh;
    }
}
@media (max-width:429px) {
    .aboutParaContainer{
        height: 38%;
        padding: .65rem .8rem;
    }
    .about{
        height: 95vh;
    }
    .aboutSecDiv{
        flex-direction: column;
        height: 43%;
    }
    .eduContainer{
        width: 100%;
    }
    .certificateContainer{
        width: 100%;
        margin: .9rem 0;
    }
    .abSkillsContainer{
        height: 25%;
    }

}
@media (max-width:390px) {
    .about{
        height: 103vh;
    }
    .aboutParaContainer{
        height: 36%;
    }
    .eduContainer{
        height: 35%;
    }
    .certificateContainer{
        margin: .8rem 0;
    }
    .abSkillsContainer{
        height: 23%;
        padding: .5rem .6rem;
    }

}
@media (max-width:376px) {
    .certificateContainer{
        margin-bottom: 1.2rem;
    }
    .about{
        height: 105vh;
        margin-top: 1rem;
    }
}
@media (max-width:360px) {
    
}
@media (max-width:320px){
    .about{
        height: 128vh;
    }
    .aboutHeading{
     font-size: 1.3rem;   

    }
    .aboutParaContainer{
        padding: .3rem .6rem;
        height: 36%;
    }
    .aboutPara{
        font-size: .6rem;
        margin-top: 0;
    }
    .eduContainer{
        padding: .3rem .6rem;
        height: 40%;
        
    }
    .aboutSecDiv{
        margin: .5rem 0;
    }
    .eduHeading{
     font-size: 1.3rem;
        
    }
    .aboutLi{
        font-size: .6rem;
    }
    .certificationHeading{
     font-size: 1.3rem;

    }
    .certificateContainer{
        margin: 0.5rem 0;
    }
    .abSkillsContainer{
        height: 22%;
        margin-top: 1.8rem;
        padding: .3rem .6rem;

    }
    .aboutImgs{
        width: 16%;
    }
   
}