@media (max-width:1280px){
    .aboutHeading{
        margin-top: 0px;
    }
    .educationHeading{
        margin-top: 0;
    }
}
@media (max-width:1114px){
    .aboutPara{
        font-size: 2vh;
        margin-top: 2px;
    }
    .eduHeading{
        margin-top: 0;
    }
    .certificationHeading{
        margin-top: 0;
    }
    .adoutList{
        padding: 3px 0;
    }
    .aboutSkills{
        gap: 10px;
        margin-top: 12px;
    }
    .aboutImgs{
        width: 8%;
    }
}
@media (max-width:884px){
    .aboutPara{
        font-size: 1.6vh;
        margin-top: 1.8vh;
    }
    .aboutHeading{
        font-size: 3vh;
    }
    .aboutSecDiv{
        height: 23vh;
        margin:2vh 0 ;
    }
    .aboutImgs{
        width: 15%;
        margin-top: 1vh;
    }
    .abSkillsContainer{
        height: 23vh;
        
    }
    .aboutSkills{
        overflow-x: auto;
    }
    .aboutContainer{
        padding: 0;
    }
    .about{
        padding-top: 10vh;
    }
}