@media (max-width:1280px){
    .footerEmail{
        width: 41%;
    }
    .footerLinks{
        width: 15%;
    }
    .LinksContainer{
        width: 45%;
        gap: 30px;
    }
}
@media (max-width:1114px){
    .footerEmail{
        width: 51%;
    }
    .footerLinks{
        width: 16%;
    }
    .LinksContainer{
        width: 46%;
        gap: 20px;
    }
}
@media (max-width:884px) {
    .footerEmailInner{
        font-size: 2.05vh;
    }
    .emailImg{
        height: 2.5vh;
    }
    .footerEmail{
        padding: 0 0.5vh;
    }
    .contactsContainer{
        height: 28%;
    }
    .contact{
        width: 95%;
    }
    .footerLkImgs{
        height: 3.3vh;
    }
}
@media (max-width:834px) {
     .contact{
        width: 95%;
        padding: 0;
     }
}
@media (max-width:800px) {
    .contactMain{
        width: 100%;
    }
    .contactsContainer{
        flex-direction: column;
        gap: 1vh;
        align-items: start;
        height: 40%;
        margin-top: 1.5vh;
    }
    .footerEmail{
        width: 63%;
        padding: 1VH;
    }
    .LinksContainer{
        width: 80%;
        gap: 3vh;
    }
    .footerLinks{
        width: 12%;
        padding: 1vh 0;
    }
    .footerAuthority{
        font-size: 1.3vh
    }
    .footerDeveloped{
        font-size: 1.3vh;
    }
    .footerLowerInner{
        width: 95%;
    }
}
@media (max-width:769px) {
    .footerEmail{
        width: 48%;
    }
    .LinksContaine{
        gap: 2vh;
    }
    .footerAuthority{
        font-size: 1.7vh;
    }
    .footerDeveloped{
        font-size: 1.7vh;
    }
    .contactsContainer{
        margin-top: 3vh;
    }
}