@media (max-width:1280px){
    .footerEmail{
        width: 41%;
    }
    .footerLinks{
        width: 15%;
    }
    .LinksContainer{
        width: 45%;
        gap: 30px;
    }
}
@media (max-width:1114px){
    .footerEmail{
        width: 51%;
    }
    .footerLinks{
        width: 16%;
    }
    .LinksContainer{
        width: 46%;
        gap: 20px;
    }
}
@media (max-width:884px) {
    .footerEmailInner{
        font-size: 2.05vh;
    }
    .emailImg{
        height: 2.5vh;
    }
    .footerEmail{
        padding: 0 0.5vh;
    }
    .contactsContainer{
        height: 28%;
    }
    .contact{
        width: 95%;
    }
    .footerLkImgs{
        height: 3.3vh;
    }
}