@media (max-width:1280px) {
    .download{
        width: 26%;
    }
    .links{
        gap: 5vh;
        width: 33%;
    }
    .homeHeading{
        font-size: 5.3vh;
    }
    .homeRight{
        width: 43%;
    }
    .homePara{
        width: 100%;
    }
    .homeBtn{
        margin-top: 5vh;
    }
}
@media (max-width:1114px) {
    .download{
        width: 21.3%;
    }
    .downloadBtn{
        padding:8px 25px;
    }
    .links{
        gap: 4.5vh;
    }
}
@media (max-width:884px){
    .download{
        width: 27.3%;
    }
    .nav{
        height: 6vh;
    }
    .links{
        gap: 3vh;
        width: 43%;
    }
    .landingPage{
        flex-direction: column-reverse;
    }
    .home{
        height: 90vh;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .right {
        width: 50%;
        margin-top: 7vh;
    }
    .homeHeading{
        text-align: center;
    }
    .homePara{
        text-align: center;
        margin-top: 3vh;
    }
    .homeBtn{
        width: 30%;
        margin-top: 3vh;
    }
    .linksTile{
        justify-content: center;
        margin-top: 5vh;
    }
    
}
@media (max-width:834px) {
    .download{
        width: 30%;
    }
    .homeContainer{
        width: 95%;
    }
    .nav{
        height: 5.5vh;
    }
    .links{
        width: 46.5%;
    }
    .right{
        margin-top: 5vh;
    }
    .homeRight{
        width: 65%;
    }
    .homeHeading{
        font-size: 5vh;
        margin-top: 5vh;
    }
    .homePara{
        font-size: 1.7vh;
        margin-top: 3vh;
    }
    .homeBtn{
        font-size: 1.8vh;
    }
}
@media (max-width:800px) {
    .links{
        width: 49%;
    }
    .homeHeading{
        font-size: 4.5vh;
        margin-top: 4vh;
    }
    .right{
        margin-top: 8vh;
    }
    .homeRight{
        width: 70%;
    }
}
@media (max-width:429px) {
    .links{
        display: none;
        
    }
    .download{
        width: 45%;
    }
    .nav{
        height: 6.8vh;
        width: 90%;
        transform: translateX(-7.5%);
    }
    .downloadBtn{
        padding: 8px 15px;
    }
    .menu{
        display: flex;
    }

}