@media (max-width:1280px) {
    .download{
        width: 26%;
    }
    .links{
        gap: 5vh;
        width: 33%;
    }
    .homeHeading{
        font-size: 5.3vh;
    }
    .homeRight{
        width: 43%;
    }
    .homePara{
        width: 100%;
    }
    .homeBtn{
        margin-top: 5vh;
    }
}
@media (max-width:1114px) {
    .download{
        width: 21.3%;
    }
    .downloadBtn{
        padding:8px 25px;
    }
    .links{
        gap: 4.5vh;
    }
}
@media (max-width:884px){
    .download{
        width: 27.3%;
    }
    .nav{
        height: 6vh;
    }
    .links{
        gap: 3vh;
        width: 43%;
    }
    .landingPage{
        flex-direction: column-reverse;
    }
    .home{
        height: 90vh;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .right {
        width: 50%;
        margin-top: 7vh;
    }
    .homeHeading{
        text-align: center;
    }
    .homePara{
        text-align: center;
        margin-top: 3vh;
    }
    .homeBtn{
        width: 30%;
        margin-top: 3vh;
    }
    .linksTile{
        justify-content: center;
        margin-top: 5vh;
    }
    
}