html{
  scroll-behavior: smooth;
}
::selection {
  background-color: #A9A9A9; /* grey */
  color: white; /* optional, change if needed */
}
/* body{
  cursor: none
} */


@tailwind base;
@tailwind components;
@tailwind utilities;